.cabecalho{
    padding: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: blueviolet;
    justify-content: space-between;
    min-width: 100%;
    align-items: center;
    color:white;

}
.navbar{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
    padding: 1em 0.8em;
    position: fixed;
    top: 0.1px;
    left: 0;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
}
