.cardTitulo{
    color: #fff;
    padding-bottom: 10px;
    font-size: 22px;
}

.img{ 
    justify-content: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 50%;
    height: 14.9rem;
}

.subcontainer{
    margin-top: 10px;
}

.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 9px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.904);
    background-color: #333;
    color: #fff;
    border: 1px solid blueviolet;  
}
